<div class="flex justify-center py-3 text-white bg-[#3778c2] relative">
  <h1>CATEGORIES</h1>
</div>

<ul class="m-4 flex flex-col gap-4">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category_path(category.id) do %>
        <div class="flex gap-4 px-4 bg-white shadow-md">
          <div class="text-8xl text-[#434b54]">
            <%= content_tag(:i, nil, :class => "fa-solic fa-#{category.icon}") %>
          </div>
          <div class="py-4 flex flex-col justify-between">
            <p class="text-[#989da3]"><%= category.name %></p>
            <p class="text-[#989da3] text-sm">
              <%= category.last_modification&.strftime('%-d %b %Y') || "No transactions" %>
            </p>
          </div>
          <div class="py-4 ml-auto">
            <p class="font-medium text-right">$<%= category.total_value %></p>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="mt-auto">
  <%= link_to new_category_path do %>
    <div class="flex justify-center text-white bg-[#5fb523]">
      <p class="border rounded-sm w-full m-3 py-3 text-center">ADD CATEGORY</p>
    </div>
  <% end %>
</div>
