<div class="flex justify-center py-3 text-white bg-[#3778c2] relative">
  <h1>NEW CATEGORY</h1>
  <%= link_to categories_path, class: "absolute left-3" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
</div>

<%= form_with model: @category, url: categories_path do |f| %>
  <div class="my-4 border-y border-[#c4c5c7] divide-y divide-[#c4c5c7]">
    <div class="field">
      <%= f.label :name, class: "sr-only" %>
      <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "min-w-full border-none" %>
    </div>

    <div class="mt-4 field" x-data="{ selected: 'basket' }">
      <%= f.label :icon, class:"block py-2 px-3 text-gray-600" %>
      <%= f.select :icon, options_for_select(@icons), {}, { class: "sr-only", "x-bind:value": "selected" }%>

      <div class="my-2 grid grid-cols-3 place-items-center">
        <% @icons.each do |icon| %>
          <div 
            class="text-4xl"
            x-on:click="selected = <%= "'#{icon}'" %>"
            x-bind:class="selected == <%= "'#{icon}'" %> ? 'text-[#3778c2]' : 'text-[#434b54]'"
          >
            <i class="bi <%= "bi-#{icon}" %>" ></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions mb-4 flex justify-center">
    <%= f.submit "ADD", class: "text-white bg-[#3778c2] p-3 w-3/5 rounded mx-auto" %>
  </div>
<% end %>
