<div class="flex justify-center py-3 text-white bg-[#3778c2] relative">
  <h1><%= @category.name.upcase %></h1>
  <%= link_to categories_path, class: "absolute left-3" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<div class="mt-4 mx-4 flex gap-4">
  <div class="text-sm flex justify-around gap-4 px-4 min-w-full">
    <div class="text-7xl text-[#434b54]">
      <%= content_tag(:i, nil, :class => "fa-solic fa-#{@category.icon}") %>
    </div>
    <div class="py-4">
      <p class="text-[#434b54] font-bold">Total Spend<p>
      <p class="text-[#434b54] font-bold">$<%= @category.total_value %></p>
    </div>
    <div class="py-4">
      <p class="text-[#434b54] font-bold">Last 30 Days<p>
      <p class="text-[#434b54] font-bold">$<%= @category.last_month_value %></p>
    </div>
  </div>
</div>

<ul class="m-4 flex flex-col gap-4">
  <% @transactions.each do |transaction| %>
    <li>
      <div class="flex gap-4 px-4 bg-white shadow-md">
        <div class="py-4 flex flex-col justify-between">
          <p class="text-[#434b54] font-bold"><%= transaction.name %></p>
          <p class="text-[#989da3] text-sm">
            <%= transaction.created_at.strftime('%-d %b %Y') %>
          </p>
        </div>
        <div class="py-4 ml-auto flex flex-col justify-between items-end">
          <p class="text-[#434b54] font-bold text-right">$<%= transaction.amount %></p>
          <%= button_to "Delete",
            category_transaction_path(@category.id, transaction.id),
            method: :delete,
            class: "bg-red-500 text-[#f5f6f8] font-medium -mx-2 px-2 rounded-md text-sm"
          %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<div class="mt-auto">
  <%= link_to new_category_transaction_path(@category.id) do %>
    <div class="flex justify-center text-white bg-[#5fb523]">
      <p class="border rounded-sm w-full m-3 py-3 text-center">ADD TRANSACTION</p>
    </div>
  <% end %>
</div>
